/* Custom CSS */
#headingOne > h2 {
    color:  palevioletred;
    background-color: wheat;
}

#headingTwo > h2 {
    color: blue;
    background-color:yellow;
}

#headingThree > h2 {
    color: teal;
    background-color:thistle;
}

#headingFour > h2 {
    color: peachpuff;
    background-color:maroon;
}